################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api_Architecture/.vs/Api_Architecture
/Api_Architecture/obj
/Api_Architecture/Api_Architecture.http
